/* main Container */
@media (min-width: 1250px) and (max-width: 1349px) {
    .container {
        max-width: 1140px !important;
    }
    
}

@media (min-width: 1350px) and (max-width: 1449px) {
    .container {
        max-width: 1240px !important;
    }
}

@media (min-width: 1450px) and (max-width: 1549px) {
    .container {
        max-width: 1340px !important;
    }
}

@media (min-width: 1550px) {
    .container {
        max-width: 1440px !important;
    }
}

/* use in all page */
@media (max-width: 1200px) {
    .forLanguage {
        display: none;
    }
}

@media (max-width: 768px) {
    .forShowSmallScreen {
        display: block;
    }
    
}

/* Capabilities */
@media (min-width: 992px) {
    #hideDiv {
        display: none;
    }

    #displayDiv {
        display: flex;
    }

    .capabilities-text{
        width: 85%;
    }

    .image-responsive-margin{
        margin-bottom: 2px
    }
}

@media (max-width: 991px) {
    #hideDiv {
        display: flex;
    }

    #displayDiv {
        display: none;
    }

    .capabilities-text{
        width: 100%;
    }

    .image-responsive-margin{
        margin-bottom: 20px;
    }
}

/* Industries */
@media (min-width: 992px) {
    .single-table-industries {
        width: 100%;
        /* margin: 0 auto; */
        height: 330px;
    }
}

@media (max-width: 991px) {
    .single-table-industries {
        width: 100%;
        margin-top: 15px;
        height: auto;
    }
}

@media (min-width: 992px) {
    .hiddenImagesDiv {
        display: none;
    }

    .displayImagesDiv {
        display: flex;
    }

    .boxCss{
        padding: 60px 100px 25px 100px;
    }

    .div_height{
        height: 350px;
    }

    .text-responsive-alignment{
        margin: 0px 10px 10px 30px;
    }

}

@media (max-width: 991px) {
    .hiddenImagesDiv {
        display: flex;
    }

    .displayImagesDiv {
        display: none;
    }

    .boxCss{
        padding: 60px 20px 25px 20px;
    }

    .div_height{
        height: auto;
    }

    .text-responsive-alignment{
        margin: 10px;
    }

    .mobileViewTextCenter{
        text-align: center;
    }
}
