/* all page required */
.text-light {
    color: #e5e5e5 !important;
}

.active {
    color: #60AEF0 !important;
}

.button_font_and_size {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.page_redirect_text_h4 {
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.round_arrow {
    height: 25px;
    margin: 0px 0px 12px 14px;
}

.black_bg {
    background-color: #030B15;
}

.btn:active{
    background-color: #2563EB;
}

.btn.primary{
    background-color: transparent;;
    /* color: #000 !important; */
    border: 2px solid #0500FF;
    margin-left: 20px   ;
}

.btn.primary:before{
    background-color: rgba(59, 130, 246, 0.50);
    color: #BFDBFE !important;
    /* border: 2px solid #3B82F6; */
    border-radius: 8px;
}

.footerCopyright{
    color: #C6D6E9;
    font-family: Raleway;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
}

.copyright-content{
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.footerSocial{
    color: #DAE3EF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
}

/* custom css for main page ---> start*/
.ellipse-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(91.42deg);
    transform-origin: 0 0;
    background: linear-gradient(133deg, #2F81AE 0%, #5431C1 100%);
    box-shadow: 225.82049560546875px 225.82049560546875px 225.82049560546875px;
    border-radius: 9999px;
    filter: blur(225.82px);
}

.clientImage {
    width: 100%;
    cursor: pointer;
    text-align: center;
    float: none;
    padding: 0 35px;
}

.single-table {
    background: #1f1f1f;
    border: 4px solid #60AEF0;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 15px 0;
    padding: 45px 35px 30px 35px;
}

.home_section_three_title {
    color: #F9F9F9;
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 60px;
}

.industries_subtitle {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.main_head_text {
    color: white;
    font-size: 36px;
    font-weight: 700;
}

.sub_main_head {
    color: #5FACEF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph_text {
    color: #ABABAB;
    font-size: 18px;
    font-weight: 500;
    line-height: 32.40px;
}

.bg-img-main-page {
    background-image: url('img/citypng-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 0px;
}

.client_paragraph {
    color: #D1D7E2;
    font-size: 18px;
    font-weight: 300;
    margin-left: 50px;
    margin-top: 10px;
}

.text_capabilities {
    color: #F9F9F9;
    font-size: 16px;
    font-weight: 400;
}

.img-cap {
    height: 15px;
    margin: 6px 0px 5px 14px;
}

/* custom css for main page ---> end*/


/* Use in index main page for solution and industries */
.solutionImage {
    box-sizing: border-box;
    padding: 20px 15px 25px 15px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem rgba(95, 164, 234, 0.5500000119);
    background-color: #1f1f1f;
    border-radius: 1rem;
    flex-shrink: 0;
}

/* use in about us and index page */
.margin-bottom20 {
    margin-bottom: 20px;
}

/* use in about us and index page */
.forImage {
    margin-bottom: 13px;
    width: 5.9rem;
    height: 6.0233rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

/* use in about us page */
.forText {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.boxCss {
    background-color: rgba(255, 255, 255, 0.1099999994);
    border-radius: .25rem;
}

.about-us-guide-content {
    color: #3d3d3d;
    font-size: 21px;
    font-weight: 600;
    text-align: left;
}

/* use in all page --> end */

/* use in about page ---> start */
.customAboutText {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
}

.customAboutImage {
    box-sizing: border-box;
    padding: 1rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

/* use in about page ---> end */

/* Industries CSS */
.single-table-industries {
    background: #1f1f1f;
    border: 4px solid #60AEF0;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 25px 10px 20px 20px;
    height: 100%;
}

.solutionImageLarge {
    height: 330px;
    width: 100%;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.solutionImagesmall {
    height: 255px;
    width: 100%;
    border-radius: 25px;
}

.industryPoints {
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

/* Industries CSS -> end*/

/* about us and industries */
.solutionBullets {
    height: 25px;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 16px;
}

/* contact and solution */
.solution-main-title {
    color: white;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}


/* contact start */
.faq-title {
    color: #C6D5E9;
    font-size: 24px;
    font-weight: 400;
    text-decoration: underline;
    line-height: 50px;
}

.faq-image {
    height: 60px;
    width: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 16px;
}

.single-table-contact {
    background: #1f1f1f;
    border: 4px solid #60AEF0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 40px 60px;
    width: 100%;
    margin-bottom: 40px;
}

.text-table-contact {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin: auto 0px;
}

.sub-text-table-contact {
    color: #C6D5E9;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.50px;
}

.contact-form-title {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}

.contact-form-image {
    height: 40px;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 16px;
}

.form-group {
    margin-bottom: 50px
}

.form-input {
    width: 100%;
    /* height: 50px; */
    border: 1px solid #eee;
    text-transform: capitalize;
    padding: 10px 15px !important;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    border-radius: 12px;
}

.phone-number {
    color: #FFF;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.invalid-input {
    border: 1px solid red !important;
}

.submission-message {
    position: fixed;
    top: 20px;
    right: 20px; /* Adjust as needed for positioning */
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    display: none;
    z-index: 999; /* Ensure it appears above other content */
    transition: opacity 0.5s ease;
}


/* Add animation for the toast message (you can adjust the animation duration) */
@keyframes slide-up {
    from {
        transform: translateX(-50%) translateY(100%);
    }
    to {
        transform: translateX(-50%) translateY(0);
    }
}

.submission-message.show {
    animation: slide-up 0.5s ease;
}

/* contact end */

/* solution page */
.single-table-solutions {
    background: #1f1f1f;
    border: 4px solid #60AEF0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 40px 30px;
    width: 100%;
    margin-bottom: 40px;
}

.solutionsBullets {
    height: 35px;
    width: 36px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 16px;
}

.solImage {
    text-align: center;
    padding: 15px;
}

.solImageText {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.solImageTextImage {
    height: 120px;
    width: 120px;
    margin-bottom: 8px;
}

.margin_bottom_css{
    margin-bottom: 20px;
}

/* capabilities */
.capa_first_head_text{
    color: #202020;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
}

.cap_icon{
    height: 50px;
    width: 50px;
    margin: 0px 20px 12px 0px;
}

.cap_line_text{
    font-family: Inter;
    color: #231F20;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.solutionPoints {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.background-images{
    width: 100% !important;
    height: 100% !important;
    background: url('img/landing.png') !important;
    background-size: cover !important;
}

.background-images-about{
    width: 100% !important;
    height: 100% !important;
    background: url('img/aboutus.png') !important;
    background-size: cover !important;
}

.background-images-all{
    width: 100% !important;
    height: 100% !important;
    background: url('img/aboutus.png') !important;
    background-size: cover !important;
}

.imageCenterCss{
    display: block;
    margin-left: auto;
    margin-right: auto;
}